<nav>
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">3Gnomes</a>
    <ul class="right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
    </ul>
    </div>
</nav>