<nav>
    <div class="nav-wrapper container">
    <%= link_to "3Gnomes", root_path, class: "brand-logo"%>
    <a id="logo-container" href="#" class="brand-logo">3Gnomes</a>
    <ul class="right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
    </ul>
    </div>
</nav>